.work {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px;
}

.resume-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}


.resume-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 134, 252);
    width: max-content;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 6px;
    color: white;
    text-decoration: none;
}